#background_container {
  background-image: url("/assets/graphics/hero/hero_bg.png");
  transform: scale(-1, -1); /* Flips background and content */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  width: 100%;
}

#contact_section {
  height: 100dvh;
  width: 100%;
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
  transform: scale(-1, -1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.article_box {
  display: flex;
  justify-content: flex-start;
  width: 50%; /* Ensures equal width */
  > div {
    flex-direction: column;
    p {
      color: #fff;
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 20px;
      text-align: left;
      align-self: flex-start;
    }
    h2 {
      color: #fff;
      font-size: 64px;
      font-weight: 700;
      padding-bottom: 45px;
    }
    article {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.line_graphic {
  width: 300px;
  height: 45px;
  padding-top: 60px;
  .hover_graphic {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    animation: drawLeftToRight 4s ease-in-out forwards;
  }
}

@keyframes drawLeftToRight {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }

  10% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }

  90% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }

  100% {
    clip-path: inset(0 100% 0 0);
    opacity: 1;
  }
}

.contact_container {
  padding-left: 20px;
  display: flex;
  flex: 1; /* Each takes 50% of space */
  width: 40%; /* Ensures equal width */
  justify-content: center;
  align-items: flex-start;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;

    label {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      padding-left: 20px;
    }

    .input_contact {
      width: 100%;
      padding: 10px;
      border: 0;
      border-bottom: 1px solid #f7c518;
      color: #c37706;
      font-size: 16px;
      background-color: transparent;
      outline: none;
      position: relative;
      padding-left: 20px;

      &::placeholder {
        color: #ffffff92;
        font-family: "Bricolage Grotesque";
        font-size: 18px;
      }

      &:focus {
        border-bottom: 1px solid #3355ff;
        border-top: 1px solid #3355ff;
        margin-top: -59px;
        padding-top: 68px;
      }
    }

    textarea {
      scrollbar-width: thin;
      // height: 39px;
      scrollbar-color: #f7c518 transparent;

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #f7c518;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #c37706;
      }
    }

    .check_box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 8px;
        padding-left: 0px;
      }

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: 2px solid #3355ff;
        background-color: transparent;
        appearance: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 2px;
        padding: 0;

        &:checked {
          background-color: transparent;
          border-color: #3355ff;
        }

        &:checked::after {
          content: "✔";
          font-size: 14px;
          color: #f7c518;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
        }
      }

      input[type="submit"] {
        margin-left: auto;
        margin-top: 10px;
        cursor: pointer;
        transition: border-color 225ms ease-in-out, box-shadow 225ms ease-in-out;
        width: 154px;
        height: 40px;
        border-radius: 100px;
        font-family: "Bricolage Grotesque";
        font-size: 18px;
        font-weight: 500;
        background-color: transparent;
        transition: width 100ms ease-in-out, color 100ms ease-in-out;
      }

      .disabled-button {
        border: 1px solid #6a6a6a;
        color: #6a6a6a;
        box-shadow: 2px 3px 0 0 #6a6a6a;
        cursor: not-allowed;
      }

      .enabled-button {
        border: 1px solid #fff;
        color: white;
        box-shadow: none;
        box-shadow: 2px 3px 0 0 #fafafa;
      }

      .enabled-button:hover {
        box-shadow: 0 0 0 0;
        background-color: #f77954;
        position: relative;
        top: 3px;
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }
}

.error {
  color: red !important;
}

.error::placeholder {
  color: red !important;
  opacity: 1;
}
label.error {
  color: #f77954 !important;
}
