<section class="footer">
  <div class="logo_box">
    <img src="./assets/icons/mylogo.svg" alt="logo" />
    <h4>© Alex Russotto 2025</h4>
  </div>
  <div class="link_box">
    <a [routerLink]="['/legal_notices']">Legal Notice</a>
    <a href="https://github.com/TaektuCode" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/alex-russotto-7a2r93/" target="_blank"
      >Linkedin</a
    >
    <a href="mailto:russottoalex.studium@gmail.com" target="_blank">Email</a>
  </div>
</section>
