.footer {
  height: 132px;
  width: 70%;
  position: absolute;
  bottom: 0px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15%;
  color: white;
  background-color: transparent;
  .logo_box {
    border: 1px solid white;
    height: 100%;
    img {
      height: 50px;
    }
  }
  .link_box {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    a {
      color: white;
    }
  }
}
