<section class="fontBricolageG">
  <div>
    <div class="back-btn">
      <img src="./assets/icons/Back.svg" alt="Back" /><a href="#">{{
        "join.back" | translate
      }}</a>
    </div>

    <div class="container" (mouseover)="showImage()">
      <div class="content-left">
        <h1>Pokédex</h1>
        <div class="blueline_content">
          @if(showAnimation && isHovered){
          <img
            class="hover-image"
            src="./assets/toggle/Blue line.svg"
            alt="Blueline"
          />
          }@else{
          <img
            class="hover-image"
            src="./assets/toggle/blueline_Default.svg"
            alt="Blueline"
          />
          }
        </div>

        <h3>{{ "pokedex.headline" | translate }}</h3>
        <br />
        <span>{{ "pokedex.description" | translate }}</span>
        <br />
        <br />
        <h3>{{ "pokedex.subline" | translate }}</h3>
        <br />
        <span>{{ "pokedex.details" | translate }}</span>
        <br /><br />
        <p>{{ "pokedex.weeks" | translate }}</p>
        <div class="icon_content">
          <span
            ><img
              class="icon"
              src="./assets/icons/Js.svg"
              alt="JavaScript"
            />JavaScript</span
          >
          <span
            ><img
              class="icon"
              src="./assets/icons/HTML.svg"
              alt="HTML"
            />HTML</span
          >
          <span
            ><img
              class="icon"
              src="./assets/icons/CSS.svg"
              alt="CSS"
            />CSS</span
          >
          <span
            ><img
              class="icon"
              src="./assets/icons/Api.svg"
              alt="CSS"
            />Rest-Api</span
          >
        </div>
      </div>

      <div class="content-right">
        <img src="./assets/img/Pokedex.png" alt="Pokedex" />
        <div class="btn-content">
          <a href="https://github.com/Caryensong/Pokedex" target="_blank"
            ><button>GitHub</button></a
          >
          <a
            href="https://caryen-song.developerakademie.net/Pokedex/index.html"
            target="_blank"
            ><button>Live Test</button></a
          >
        </div>
      </div>
    </div>

    <div class="next-btn">
      <a [routerLink]="['/join']">{{ "join.next" | translate }}</a
      ><img src="./assets/icons/next.svg" alt="next" />
    </div>
  </div>
  <div id="background"></div>
</section>
