<div class="aboutme-section">
  <div class="banner-box">
    <p>Placeholder</p>
    <p>Placeholder</p>
    <p>Placeholder</p>
  </div>
  <div class="aboutme-box">
    <span>Test Test</span>
    <h2>About me</h2>
    <article>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eligendi eos
      vel adipisci quis, perspiciatis unde quas ab perferendis itaque impedit
      eveniet aliquid. Cum fugit veritatis odit dicta, explicabo alias!
      Assumenda alias reiciendis consectetur veritatis repudiandae architecto et
      nemo, incidunt sed. Temporibus harum officiis animi repellat eum
      consequuntur veritatis hic, distinctio dignissimos molestias sit fugit
      impedit ut numquam quia odio. Cupiditate commodi voluptas ipsam, sapiente,
      deserunt laudantium minus et obcaecati itaque blanditiis qui quos.
    </article>
    <a href="#">Lets talk</a>
  </div>
</div>
