<section id="aboutMe">
  <div><img src="./assets/graphics/aboutMe/location.svg" alt="Location" /></div>
  <div (mouseover)="showLine()">
    <p>WHO'S ALEX ?</p>

    <h1>About me</h1>
    <div class="animation_box">
      @if(isAnimated && isHovered){
      <img
        class="image_hover"
        src="./assets/toggle/blueline.svg"
        alt="Blueline"
      />
      }@else{
      <img
        class="image_hover"
        src="./assets/toggle/blueline_Default.svg"
        alt="Blueline"
      />
      }
    </div>
    <article>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, cumque
      veritatis! Necessitatibus, esse. Vel accusantium enim veritatis, harum
      fugiat eius eum sunt aperiam repellendus aspernatur maiores quis,
      quibusdam dolores esse.
    </article>
    <div class="button_container">
      <a href="#contact">
        <button>Let'talk</button>
      </a>
    </div>
  </div>
</section>
