<section id="about-me">
  <div class="about-me__icon">
    <img src="./assets/graphics/aboutMe/location.svg" alt="Location" />
  </div>

  <div class="about-me__content" (mouseover)="showLine()">
    <p class="about-me__subtitle">{{ "about-me.who" | translate }}</p>

    <h2 class="about-me__title">{{ "about-me.about" | translate }}</h2>

    <div class="about-me__animation-box">
      @if(isAnimated && isHovered){
      <img
        class="about-me__animated-line"
        src="./assets/toggle/blueline.svg"
        alt="Blueline"
      />
      }@else{
      <img
        class="about-me__animated-line"
        src="./assets/toggle/blueline_Default.svg"
        alt="Blueline"
      />
      }
    </div>

    <article class="about-me__description">
      {{ "about-me.article" | translate }}
      <br /><br />
      {{ "about-me.sub_article" | translate }}
    </article>

    <div class="about-me__button-container">
      <a href="#contact">
        <button class="about-me__contact-button">
          {{ "about-me.btn" | translate }}
        </button>
      </a>
    </div>
  </div>
</section>
