#about-me {
  height: 720px;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 72px;
  gap: 100px;

  .about-me__icon {
    img {
      width: 100%;
    }
  }

  .about-me__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .about-me__subtitle {
      font-size: 24px;
      padding-bottom: 30px;
      font-weight: 500;
    }

    .about-me__title {
      font-size: 68px;
      font-weight: 700;
    }

    .about-me__description {
      font-size: 24px;
      padding-top: 35px;
      padding-bottom: 30px;
    }

    .about-me__button-container {
      display: flex;
      align-items: flex-end;

      .about-me__contact-button {
        box-shadow: 2px 3px 0 0 #000;
        transition: border-color 275ms ease-in-out, box-shadow 125ms ease-in-out;
        cursor: pointer;
        position: relative;
        width: 155px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 100px;
        font-size: 18px;
        font-weight: 500;
        color: #000;
        background-color: transparent;
        white-space: nowrap;
        transition: width 0.6s ease-in-out, color 0.6s ease-in-out;

        &:hover {
          box-shadow: 0 0 0 0;
          background-color: #f77954;
          position: relative;
          top: 3px;
        }
      }
    }
  }

  .about-me__animation-box {
    width: 300px;
    height: 40px;

    .about-me__animated-line {
      width: 300px;
      height: 20px;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
      animation: drawLeftToRight 4s ease-in-out forwards;
    }
  }
}

@keyframes drawLeftToRight {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }

  10% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }

  90% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }

  100% {
    clip-path: inset(0 100% 0 0);
    opacity: 1;
  }
}
