section {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-image: url("/assets/graphics/skills/skills_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 19px 72px;

  .section_box1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1440px;
    height: 144px;
    gap: 100px;
    margin-bottom: 20px;
    margin-left: auto;

    span {
      color: #fff;
    }

    h1 {
      color: #fff;
      font-size: 64px;
      font-weight: 700;
    }

    img.text {
      width: 650px;
    }
  }
}

.skills_content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin-left: 50px;
}
.skill_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;

  span {
    color: #fff;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
  }
}
