<div class="skills-section">
  <div class="skills-container">
    <div class="skills-box1">
      <p>Skill Set</p>
      <article>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, rem?
        Totam soluta modi odio a at dolore vitae assumenda hic officia quaerat
        aliquid, quibusdam quas illo illum nam nostrum! Saepe?
      </article>
    </div>
    <div class="skills-box2">
      <div class="logo-box">Placeholder</div>
      <div class="image-box">asfasfasf</div>
    </div>
  </div>
</div>
