/* You can add global styles to this file, and also import other style files */
// Color //
$base1: #f8f9fa;
$base2: #0e1013;
$highlight1: #f7c518;
$highlight2: #3355ff;
$highlight3: #f87a55;

@font-face {
  font-family: "BricolageGrotesque";
  src: url("./assets/fonts/BricolageGrotesque-VariableFont.ttf");
}

@font-face {
  font-family: "Kalam";
  src: url("./assets/fonts/Kalam-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: BricolageGrotesque;
}

html {
  height: 100%;
}

a {
  color: white;
}
