.navbar {
  width: 100%;
  height: 45px;
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    height: 100%;
    width: 10%;
  }
  .alink-box {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid white;
    flex: 1;
    justify-content: space-around;
    a {
      color: white;
    }
  }
  .language-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    height: 100%;
    width: 10%;
  }
}
