@use "../../../styles.scss";

.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-content {
  width: 1440px;
  height: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    height: 100%;
    width: 10%;
    svg {
      cursor: pointer;
      fill: styles.$highlight2;
      transition: fill 0.125s ease-out;
      &:hover {
        fill: styles.$highlight1;
      }
    }
  }
  .alink-box {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid white;
    flex: 1;
    justify-content: space-around;
    a {
      font-size: 18px;
      font-weight: 800;
    }
  }
  .language-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    height: 100%;
    width: 10%;
  }
}
